<div class="lists row">
  <div class="col-md-12 col-lg-12 col-xxxl-12">
    <nb-card class="list-card">
      <nb-card-header
        >{{ this.listTitle }}
        <button nbButton hero status="primary" (click)="this.goToWrite()">글 작성</button>
      </nb-card-header>
      <nb-card-body>
        <nb-list>
          <nb-list-item
            *ngFor="let post of posts | paginate: { itemsPerPage: 10, currentPage: p }"
            (click)="this.goToDetail(post)"
          >
            {{ post.title }}
          </nb-list-item>
        </nb-list>
      </nb-card-body>
      <pagination-controls (pageChange)="this.pageChanged($event)"></pagination-controls>
    </nb-card>
  </div>
</div>
